<mat-toolbar color="primary">
  <span class="mat-button-wrapper brand-logo"
    ><img src="../../../assets/images/mablis.svg" alt="Mablis" /><span>{{
      appName
    }}</span></span
  >

  <!-- Location search box -->
  <form class="location-form">
    <mat-form-field class="location-full-width">
      <input
        type="text"
        placeholder="Location"
        aria-label="Search for locations"
        matInput
        [formControl]="locationControl"
        [matAutocomplete]="autoLocations"
      />
      <mat-autocomplete autoActiveFirstOption #autoLocations="matAutocomplete">
        <mat-option
          *ngFor="let location of filteredLocations | async"
          [value]="location"
        >
          {{ location }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <!-- Restaurant / Dishes / Category search box -->
  <form class="search-form">
    <mat-form-field class="search-full-width">
      <input
        type="text"
        placeholder="Restaurant / Dishes / Category"
        aria-label="Search for Restaurants, Dishes and categories of dishes"
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="autoResults"
      />
      <mat-autocomplete autoActiveFirstOption #autoResults="matAutocomplete">
        <mat-option
          *ngFor="let result of searchResults | async"
          [value]="result"
        >
          {{ result }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <!-- Buttons -->
  <div class="header-button-row">
    <button mat-button>SignIn/Register</button>
    <button mat-button>Cart</button>
    <button mat-button>Support</button>
    <button mat-button aria-label="Notifications">
      <mat-icon>notifications</mat-icon>
    </button>
  </div>
</mat-toolbar>
