.mat-toolbar {
  justify-content: space-between;
}

.brand-logo {
  img {
    width: 30px;
  }
  span {
    display: inline-block;
    margin-left: 10px;
  }
}

.location-form,
.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.location-full-width,
.search-full-width {
  width: 100%;
}
