<div class="slide-images">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Hot Deals</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="assets/images/promotions/hot-deals.jpg"
      alt="Hot Deals"
    />
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Combo Offers</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="assets/images/promotions/best-combo.jpg"
      alt="Combo Offers"
    />
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Deals of the day</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="assets/images/promotions/day-deals.jpg"
      alt="Deals of the day"
    />
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Store Offers</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="assets/images/promotions/store-offer.jpg"
      alt="Hot Deals"
    />
  </mat-card>
</div>
