@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
body {
  margin: 0;
}

.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
  font: 500 14px/18px Roboto, 'Helvetica Neue', sans-serif;
}
